@import url('https: //fonts.googleapis.com/css29family-Roboto: wght@400;700;900&display=swap');


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #151515;
    background-color: #5f5d5d;
}

.movie-card {
    margin-top: 5rem;
    height: 800px;
    text-align: center;
}

.movie-title {
    text-transform: capitalize;
    text-transform: uppercase;
}

.movie-poster-container img {
    margin-top: 2rem;
    height: 400px;
    border-radius: 5px;
   /* animation: slide-from-left 4s ease-in-out forwards;
    transition: all 1s;
    position: relative;
    left: -50rem;*/ 
    
}
/*@keyframes slide-from-left{
    70%{left: 1rem;}
    100%{left: 0;}
}*/

.carusel{
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.carusel img {
    width: 500px;
    height: 350px;
   
}

.carusel .carusel__item,
.carusel .carusel__item--hidden{
    display: none;
}

.carusel .carusel__item--visible{
    display: block;
    animation: fadeIn 1s;
    cursor: pointer;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.carusel .carusel__actions{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
  
    transform: translateY(-50%);
}

.carusel .carusel__actions button{
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    width: 40px;
    border: 0;
    background-color: rgba(48, 48, 48, 0.477);
    font-size: 1.5rem;
    color: white;
    margin: 6.5rem;
}


.model{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.247);
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
}

.model-content{
    background-color: rgba(34, 33, 33, 0.824);
    margin: 5rem auto;
    padding: 3rem;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    animation: zoom-in 1s;
}

@keyframes zoom-in {
    0% {transform: scale(0);}
    100%{transform: scale(1);}
}

.model-content h1 {
    color:  #fff;
    text-transform: uppercase;
}

.closeBtn {
    float: right;
    cursor: pointer;
    font-size: 2rem;
}

.movie-poster-model{
    width: 290px;
}

.movie-poster {
    cursor: pointer;
    
}

.movie-rating {
    display: inline-block;
    border: 1px solid #151515;
    padding: 1rem;
    border-radius: 5px;
}

.movie-duration {
    margin-left: 1rem;
    letter-spacing: 0.2rem;
}

.movie-duration:before {
    content:"\2022";
}

.movie-info-quote {
    color: #151515a4;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    transform: translateX(650px);
    animation: slide-from-right 3.5s ease-in-out forwards; 
}

@keyframes slide-from-right {
    80% {transform: translateX(-20px);}
    100% {transform: translateX(0);}
}

.movie-info-overview-title {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    opacity: 0;
    animation: fade-in 3.5s ease-in-out forwards;
    animation-delay: 1s;
}

.movie-info-overview {
    opacity: 0;
    animation: fade-in 3.5s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes fade-in{
    100% {opacity: 1;}
}

.movie-info-actions {
    font-size:1.1rem;
}

.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(3, 37, 65);
    
}

.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



footer {
    margin-top: 0rem;
    text-align: center;
    color: #777;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

footer ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #777;
}